In [3]:
import numpy as np
from io import StringIO
import pandas as pd

In [10]:
urlfile = pd.read_csv('cu.item',sep = '\t',engine='python')

In [11]:
urlfile

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,400
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,375
4,SA0L1,All items less food,1,T,359
...,...,...,...,...,...
395,SSEA011,College textbooks,3,T,314
396,SSEE041,Smartphones,4,T,335
397,SSFV031A,Food at elementary and secondary schools,3,T,122
398,SSGE013,Infants' equipment,3,T,356
399,SSHJ031,Infants' furniture,3,T,165

In [8]:
type(urlfile)

pandas.core.frame.DataFrame

In [12]:
urlfile

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,400
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,375
4,SA0L1,All items less food,1,T,359
...,...,...,...,...,...
395,SSEA011,College textbooks,3,T,314
396,SSEE041,Smartphones,4,T,335
397,SSFV031A,Food at elementary and secondary schools,3,T,122
398,SSGE013,Infants' equipment,3,T,356
399,SSHJ031,Infants' furniture,3,T,165

In [13]:
urlfile.iloc[0:41]

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,400
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,375
4,SA0L1,All items less food,1,T,359
5,SA0L12,All items less food and shelter,1,T,362
6,SA0L12E,"All items less food, shelter, and energy",1,T,363
7,SA0L12E4,"All items less food, shelter, energy, and used...",1,T,364
8,SA0L1E,All items less food and energy,1,T,360
9,SA0L2,All items less shelter,1,T,361
10,SA0L5,All items less medical care,1,T,357
11,SA0LE,All items less energy,1,T,358
12,SA0R,Purchasing power of the consumer dollar,0,T,399
13,SA311,Apparel less footwear,1,T,365
14,SAA,Apparel,0,T,187
15,SAA1,Men's and boys' apparel,1,T,188
16,SAA2,Women's and girls' apparel,1,T,195
17,SAC,Commodities,1,T,366
18,SACE,Energy commodities,1,T,376
19,SACL1,Commodities less food,1,T,367
20,SACL11,Commodities less food and beverages,1,T,368
21,SACL1E,Commodities less food and energy commodities,1,T,369
22,SACL1E4,"Commodities less food, energy, and used cars a...",1,T,370
23,SAD,Durables,1,T,372
24,SAE,Education and communication,0,T,311
25,SAE1,Education,1,T,312
26,SAE2,Communication,1,T,320
27,SAE21,Information and information processing,2,T,324
28,SAEC,Education and communication commodities,1,T,373
29,SAES,Education and communication services,1,T,374
30,SAF,Food and beverages,0,T,3
31,SAF1,Food,1,T,4
32,SAF11,Food at home,2,T,5
33,SAF111,Cereals and bakery products,3,T,6
34,SAF112,"Meats, poultry, fish, and eggs",3,T,24
35,SAF1121,"Meats, poultry, and fish",4,T,25
36,SAF11211,Meats,5,T,26
37,SAF113,Fruits and vegetables,3,T,63
38,SAF1131,Fresh fruits and vegetables,4,T,64
39,SAF114,Nonalcoholic beverages and beverage materials,3,T,84
40,SAF115,Other food at home,3,T,94

In [16]:
urlfile

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,400
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,375
4,SA0L1,All items less food,1,T,359
...,...,...,...,...,...
395,SSEA011,College textbooks,3,T,314
396,SSEE041,Smartphones,4,T,335
397,SSFV031A,Food at elementary and secondary schools,3,T,122
398,SSGE013,Infants' equipment,3,T,356
399,SSHJ031,Infants' furniture,3,T,165

In [17]:
csvfile = urlfile.to_csv()

In [22]:
urlfile

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,400
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,375
4,SA0L1,All items less food,1,T,359
...,...,...,...,...,...
395,SSEA011,College textbooks,3,T,314
396,SSEE041,Smartphones,4,T,335
397,SSFV031A,Food at elementary and secondary schools,3,T,122
398,SSGE013,Infants' equipment,3,T,356
399,SSHJ031,Infants' furniture,3,T,165

In [23]:
urlfile.to_csv()

',item_code,item_name,display_level,selectable,sort_sequence\r\n0,AA0,All items - old base,0,T,2\r\n1,AA0R,Purchasing power of the consumer dollar - old base,0,T,400\r\n2,SA0,All items,0,T,1\r\n3,SA0E,Energy,1,T,375\r\n4,SA0L1,All items less food,1,T,359\r\n5,SA0L12,All items less food and shelter,1,T,362\r\n6,SA0L12E,"All items less food, shelter, and energy",1,T,363\r\n7,SA0L12E4,"All items less food, shelter, energy, and used cars and trucks",1,T,364\r\n8,SA0L1E,All items less food and energy,1,T,360\r\n9,SA0L2,All items less shelter,1,T,361\r\n10,SA0L5,All items less medical care,1,T,357\r\n11,SA0LE,All items less energy,1,T,358\r\n12,SA0R,Purchasing power of the consumer dollar,0,T,399\r\n13,SA311,Apparel less footwear,1,T,365\r\n14,SAA,Apparel,0,T,187\r\n15,SAA1,Men\'s and boys\' apparel,1,T,188\r\n16,SAA2,Women\'s and girls\' apparel,1,T,195\r\n17,SAC,Commodities,1,T,366\r\n18,SACE,Energy commodities,1,T,376\r\n19,SACL1,Commodities less food,1,T,367\r\n20,SACL11,Commodities less food and beverages,1,T,368\r\n21,SACL1E,Commodities less food and energy commodities,1,T,369\r\n22,SACL1E4,"Commodities less food, energy, and used cars and trucks",1,T,370\r\n23,SAD,Durables,1,T,372\r\n24,SAE,Education and communication,0,T,311\r\n25,SAE1,Education,1,T,312\r\n26,SAE2,Communication,1,T,320\r\n27,SAE21,Information and information processing,2,T,324\r\n28,SAEC,Education and communication commodities,1,T,373\r\n29,SAES,Education and communication services,1,T,374\r\n30,SAF,Food and beverages,0,T,3\r\n31,SAF1,Food,1,T,4\r\n32,SAF11,Food at home,2,T,5\r\n33,SAF111,Cereals and bakery products,3,T,6\r\n34,SAF112,"Meats, poultry, fish, and eggs",3,T,24\r\n35,SAF1121,"Meats, poultry, and fish",4,T,25\r\n36,SAF11211,Meats,5,T,26\r\n37,SAF113,Fruits and vegetables,3,T,63\r\n38,SAF1131,Fresh fruits and vegetables,4,T,64\r\n39,SAF114,Nonalcoholic beverages and beverage materials,3,T,84\r\n40,SAF115,Other food at home,3,T,94\r\n41,SAF116,Alcoholic beverages,2,T,125\r\n42,SAG,Other goods and services,0,T,336\r\n43,SAG1,Personal care,1,T,340\r\n44,SAGC,Other goods,1,T,384\r\n45,SAGS,Other personal services,1,T,385\r\n46,SAH,Housing,0,T,136\r\n47,SAH1,Shelter,1,T,137\r\n48,SAH2,Fuels and utilities,1,T,145\r\n49,SAH21,Household energy,2,T,146\r\n50,SAH3,Household furnishings and operations,1,T,156\r\n51,SAH31,Household furnishings and supplies,1,T,377\r\n52,SAM,Medical care,0,T,250\r\n53,SAM1,Medical care commodities,1,T,251\r\n54,SAM2,Medical care services,1,T,256\r\n55,SAN,Nondurables,1,T,379\r\n56,SAN1D,Domestically produced farm food,1,T,371\r\n57,SANL1,Nondurables less food,1,T,380\r\n58,SANL11,Nondurables less food and beverages,1,T,382\r\n59,SANL113,"Nondurables less food, beverages, and apparel",1,T,383\r\n60,SANL13,Nondurables less food and apparel,1,T,381\r\n61,SAR,Recreation,0,T,269\r\n62,SARC,Recreation commodities,1,T,387\r\n63,SARS,Recreation services,1,T,388\r\n64,SAS,Services,1,T,390\r\n65,SAS24,Utilities and public transportation,1,T,396\r\n66,SAS2RS,Rent of shelter,1,T,389\r\n67,SAS367,Other services,1,T,386\r\n68,SAS4,Transportation services,1,T,395\r\n69,SASL2RS,Services less rent of shelter,1,T,393\r\n70,SASL5,Services less medical care services,1,T,392\r\n71,SASLE,Services less energy services,1,T,391\r\n72,SAT,Transportation,0,T,210\r\n73,SAT1,Private transportation,1,T,211\r\n74,SATCLTB,Transportation commodities less motor fuel,1,T,394\r\n75,SEAA,Men\'s apparel,2,T,189\r\n76,SEAA01,"Men\'s suits, sport coats, and outerwear",3,T,190\r\n77,SEAA02,"Men\'s underwear, nightwear, swimwear and accessories",3,T,191\r\n78,SEAA03,Men\'s shirts and sweaters,3,T,192\r\n79,SEAA04,Men\'s pants and shorts,3,T,193\r\n80,SEAB,Boys\' apparel,2,T,194\r\n81,SEAC,Women\'s apparel,2,T,196\r\n82,SEAC01,Women\'s outerwear,3,T,197\r\n83,SEAC02,Women\'s dresses,3,T,198\r\n84,SEAC03,Women\'s suits and separates,3,T,199\r\n85,SEAC04,"Women\'s underwear, nightwear, swimwear and accessories",3,T,200\r\n86,SEAD,Girls\' apparel,2,T,201\r\n87,SEAE,Footwear,1,T,202\r\n88,SEAE01,Men\'s footwear,2,T,203\r\n89,SEAE02,Boys\' and girls\' footwear,2,T,204\r\n90,SEAE03,Women\'s footwear,2,T,205\r\n91,SEAF,Infants\' and toddlers\' apparel,1,T,206\r\n92,SEAG,Jewelry and watches,1,T,207\r\n93,SEAG01,Watches,2,T,208\r\n94,SEAG02,Jewelry,2,T,209\r\n95,SEEA,Educational books and supplies,2,T,313\r\n96,SEEB,"Tuition, other school fees, and childcare",2,T,315\r\n97,SEEB01,College tuition and fees,3,T,316\r\n98,SEEB02,Elementary and high school tuition and fees,3,T,317\r\n99,SEEB03,Day care and preschool,3,T,318\r\n100,SEEB04,Technical and business school tuition and fees,3,T,319\r\n101,SEEC,Postage and delivery services,2,T,321\r\n102,SEEC01,Postage,3,T,322\r\n103,SEEC02,Delivery services,3,T,323\r\n104,SEED,Telephone services,3,T,325\r\n105,SEED03,Wireless telephone services,4,T,326\r\n106,SEED04,Residential telephone services,4,T,327\r\n107,SEEE,"Information technology, hardware and services",2,T,330\r\n108,SEEE01,"Computers, peripherals, and smart home assistants",3,T,331\r\n109,SEEE02,Computer software and accessories,3,T,332\r\n110,SEEE03,Internet services and electronic information providers,3,T,333\r\n111,SEEE04,"Telephone hardware, calculators, and other consumer information items",3,T,334\r\n112,SEEEC,Information technology commodities,1,T,378\r\n113,SEFA,Cereals and cereal products,4,T,7\r\n114,SEFA01,Flour and prepared flour mixes,5,T,8\r\n115,SEFA02,Breakfast cereal,5,T,9\r\n116,SEFA03,"Rice, pasta, cornmeal",5,T,10\r\n117,SEFB,Bakery products,4,T,12\r\n118,SEFB01,Bread,5,T,13\r\n119,SEFB02,"Fresh biscuits, rolls, muffins",5,T,16\r\n120,SEFB03,"Cakes, cupcakes, and cookies",5,T,17\r\n121,SEFB04,Other bakery products,5,T,20\r\n122,SEFC,Beef and veal,6,T,27\r\n123,SEFC01,Uncooked ground beef,7,T,28\r\n124,SEFC02,Uncooked beef roasts,7,T,29\r\n125,SEFC03,Uncooked beef steaks,7,T,30\r\n126,SEFC04,Uncooked other beef and veal,7,T,31\r\n127,SEFD,Pork,6,T,32\r\n128,SEFD01,"Bacon, breakfast sausage, and related products",7,T,33\r\n129,SEFD02,Ham,7,T,36\r\n130,SEFD03,Pork chops,7,T,38\r\n131,SEFD04,"Other pork including roasts, steaks, and ribs",7,T,39\r\n132,SEFE,Other meats,6,T,40\r\n133,SEFF,Poultry,6,T,45\r\n134,SEFF01,Chicken,7,T,46\r\n135,SEFF02,Other uncooked poultry including turkey,6,T,49\r\n136,SEFG,Fish and seafood,5,T,50\r\n137,SEFG01,Fresh fish and seafood,6,T,51\r\n138,SEFG02,Processed fish and seafood,6,T,52\r\n139,SEFH,Eggs,4,T,55\r\n140,SEFJ,Dairy and related products,3,T,56\r\n141,SEFJ01,Milk,4,T,57\r\n142,SEFJ02,Cheese and related products,4,T,60\r\n143,SEFJ03,Ice cream and related products,4,T,61\r\n144,SEFJ04,Other dairy and related products,4,T,62\r\n145,SEFK,Fresh fruits,5,T,65\r\n146,SEFK01,Apples,6,T,66\r\n147,SEFK02,Bananas,6,T,67\r\n148,SEFK03,Citrus fruits,6,T,68\r\n149,SEFK04,Other fresh fruits,6,T,70\r\n150,SEFL,Fresh vegetables,5,T,71\r\n151,SEFL01,Potatoes,6,T,72\r\n152,SEFL02,Lettuce,6,T,73\r\n153,SEFL03,Tomatoes,6,T,74\r\n154,SEFL04,Other fresh vegetables,6,T,75\r\n155,SEFM,Processed fruits and vegetables,4,T,76\r\n156,SEFM01,Canned fruits and vegetables,5,T,77\r\n157,SEFM02,Frozen fruits and vegetables,5,T,80\r\n158,SEFM03,Other processed fruits and vegetables including dried,5,T,82\r\n159,SEFN,Juices and nonalcoholic drinks,4,T,85\r\n160,SEFN01,Carbonated drinks,5,T,86\r\n161,SEFN02,Frozen noncarbonated juices and drinks,5,T,87\r\n162,SEFN03,Nonfrozen noncarbonated juices and drinks,5,T,88\r\n163,SEFP,Beverage materials including coffee and tea,4,T,89\r\n164,SEFP01,Coffee,5,T,90\r\n165,SEFP02,Other beverage materials including tea,5,T,93\r\n166,SEFR,Sugar and sweets,4,T,95\r\n167,SEFR01,Sugar and sugar substitutes,5,T,96\r\n168,SEFR02,Candy and chewing gum,5,T,97\r\n169,SEFR03,Other sweets,5,T,98\r\n170,SEFS,Fats and oils,4,T,99\r\n171,SEFS01,Butter and margarine,5,T,100\r\n172,SEFS02,Salad dressing,5,T,103\r\n173,SEFS03,Other fats and oils including peanut butter,5,T,104\r\n174,SEFT,Other foods,4,T,106\r\n175,SEFT01,Soups,5,T,107\r\n176,SEFT02,Frozen and freeze dried prepared foods,5,T,108\r\n177,SEFT03,Snacks,5,T,109\r\n178,SEFT04,"Spices, seasonings, condiments, sauces",5,T,110\r\n179,SEFT05,Baby food and formula,5,T,115\r\n180,SEFT06,Other miscellaneous foods,5,T,116\r\n181,SEFV,Food away from home,2,T,118\r\n182,SEFV01,Full service meals and snacks,3,T,119\r\n183,SEFV02,Limited service meals and snacks,3,T,120\r\n184,SEFV03,Food at employee sites and schools,3,T,121\r\n185,SEFV04,Food from vending machines and mobile vendors,3,T,123\r\n186,SEFV05,Other food away from home,3,T,124\r\n187,SEFW,Alcoholic beverages at home,3,T,126\r\n188,SEFW01,"Beer, ale, and other malt beverages at home",4,T,127\r\n189,SEFW02,Distilled spirits at home,4,T,128\r\n190,SEFW03,Wine at home,4,T,131\r\n191,SEFX,Alcoholic beverages away from home,3,T,132\r\n192,SEGA,Tobacco and smoking products,1,T,337\r\n193,SEGA01,Cigarettes,2,T,338\r\n194,SEGA02,Tobacco products other than cigarettes,2,T,339\r\n195,SEGB,Personal care products,2,T,341\r\n196,SEGB01,"Hair, dental, shaving, and miscellaneous personal care products",3,T,342\r\n197,SEGB02,"Cosmetics, perfume, bath, nail preparations and implements",3,T,343\r\n198,SEGC,Personal care services,2,T,344\r\n199,SEGC01,Haircuts and other personal care services,3,T,345\r\n200,SEGD,Miscellaneous personal services,2,T,346\r\n201,SEGD01,Legal services,3,T,347\r\n202,SEGD02,Funeral expenses,3,T,348\r\n203,SEGD03,Laundry and dry cleaning services,3,T,349\r\n204,SEGD04,Apparel services other than laundry and dry cleaning,3,T,350\r\n205,SEGD05,Financial services,3,T,351\r\n206,SEGE,Miscellaneous personal goods,2,T,354\r\n207,SEHA,Rent of primary residence,2,T,138\r\n208,SEHB,Lodging away from home,2,T,139\r\n209,SEHB01,"Housing at school, excluding board",3,T,140\r\n210,SEHB02,Other lodging away from home including hotels and motels,3,T,141\r\n211,SEHC,Owners\' equivalent rent of residences,2,T,142\r\n212,SEHC01,Owners\' equivalent rent of primary residence,3,T,143\r\n213,SEHD,Tenants\' and household insurance,2,T,144\r\n214,SEHE,Fuel oil and other fuels,3,T,147\r\n215,SEHE01,Fuel oil,4,T,148\r\n216,SEHE02,"Propane, kerosene, and firewood",4,T,149\r\n217,SEHF,Energy services,3,T,150\r\n218,SEHF01,Electricity,4,T,151\r\n219,SEHF02,Utility (piped) gas service,4,T,152\r\n220,SEHG,Water and sewer and trash collection services,2,T,153\r\n221,SEHG01,Water and sewerage maintenance,3,T,154\r\n222,SEHG02,Garbage and trash collection,3,T,155\r\n223,SEHH,Window and floor coverings and other linens,2,T,157\r\n224,SEHH01,Floor coverings,3,T,158\r\n225,SEHH02,Window coverings,3,T,159\r\n226,SEHH03,Other linens,3,T,160\r\n227,SEHJ,Furniture and bedding,2,T,161\r\n228,SEHJ01,Bedroom furniture,3,T,162\r\n229,SEHJ02,"Living room, kitchen, and dining room furniture",3,T,163\r\n230,SEHJ03,Other furniture,3,T,164\r\n231,SEHK,Appliances,2,T,166\r\n232,SEHK01,Major appliances,3,T,167\r\n233,SEHK02,Other appliances,3,T,169\r\n234,SEHL,Other household equipment and furnishings,2,T,170\r\n235,SEHL01,"Clocks, lamps, and decorator items",3,T,171\r\n236,SEHL02,Indoor plants and flowers,3,T,172\r\n237,SEHL03,Dishes and flatware,3,T,173\r\n238,SEHL04,Nonelectric cookware and tableware,3,T,174\r\n239,SEHM,"Tools, hardware, outdoor equipment and supplies",2,T,175\r\n240,SEHM01,"Tools, hardware and supplies",3,T,176\r\n241,SEHM02,Outdoor equipment and supplies,3,T,177\r\n242,SEHN,Housekeeping supplies,2,T,178\r\n243,SEHN01,Household cleaning products,3,T,179\r\n244,SEHN02,Household paper products,3,T,180\r\n245,SEHN03,Miscellaneous household products,3,T,181\r\n246,SEHP,Household operations,2,T,182\r\n247,SEHP01,Domestic services,3,T,183\r\n248,SEHP02,Gardening and lawncare services,3,T,184\r\n249,SEHP03,"Moving, storage, freight expense",3,T,185\r\n250,SEHP04,Repair of household items,3,T,186\r\n251,SEMC,Professional services,2,T,257\r\n252,SEMC01,Physicians\' services,3,T,258\r\n253,SEMC02,Dental services,3,T,259\r\n254,SEMC03,Eyeglasses and eye care,3,T,260\r\n255,SEMC04,Services by other medical professionals,3,T,261\r\n256,SEMD,Hospital and related services,2,T,262\r\n257,SEMD01,Hospital services,3,T,263\r\n258,SEMD02,Nursing homes and adult day services,3,T,266\r\n259,SEMD03,Care of invalids and elderly at home,3,T,267\r\n260,SEME,Health insurance,2,T,268\r\n261,SEMF,Medicinal drugs,2,T,252\r\n262,SEMF01,Prescription drugs,3,T,253\r\n263,SEMF02,Nonprescription drugs,3,T,254\r\n264,SEMG,Medical equipment and supplies,2,T,255\r\n265,SERA,Video and audio,1,T,270\r\n266,SERA01,Televisions,2,T,271\r\n267,SERA02,"Cable, satellite, and live streaming television service",2,T,272\r\n268,SERA03,Other video equipment,2,T,273\r\n269,SERA04,"Purchase, subscription, and rental of video",2,T,274\r\n270,SERA05,Audio equipment,2,T,277\r\n271,SERA06,Recorded music and music subscriptions,2,T,278\r\n272,SERAC,Video and audio products,1,T,397\r\n273,SERAS,Video and audio services,1,T,398\r\n274,SERB,"Pets, pet products and services",1,T,279\r\n275,SERB01,Pets and pet products,2,T,280\r\n276,SERB02,Pet services including veterinary,2,T,283\r\n277,SERC,Sporting goods,1,T,286\r\n278,SERC01,Sports vehicles including bicycles,2,T,287\r\n279,SERC02,Sports equipment,2,T,288\r\n280,SERD,Photography,1,T,289\r\n281,SERD01,Photographic equipment and supplies,2,T,290\r\n282,SERD02,Photographers and photo processing,2,T,293\r\n283,SERE,Other recreational goods,1,T,296\r\n284,SERE01,Toys,2,T,297\r\n285,SERE02,"Sewing machines, fabric and supplies",2,T,300\r\n286,SERE03,Music instruments and accessories,2,T,301\r\n287,SERF,Other recreation services,1,T,302\r\n288,SERF01,"Club membership for shopping clubs, fraternal, or other organizations, or participant sports fees",2,T,303\r\n289,SERF02,Admissions,2,T,304\r\n290,SERF03,Fees for lessons or instructions,2,T,307\r\n291,SERG,Recreational reading materials,1,T,308\r\n292,SERG01,Newspapers and magazines,2,T,309\r\n293,SERG02,Recreational books,2,T,310\r\n294,SETA,New and used motor vehicles,2,T,212\r\n295,SETA01,New vehicles,3,T,213\r\n296,SETA02,Used cars and trucks,3,T,218\r\n297,SETA03,Leased cars and trucks,3,T,219\r\n298,SETA04,Car and truck rental,3,T,220\r\n299,SETB,Motor fuel,2,T,221\r\n300,SETB01,Gasoline (all types),3,T,222\r\n301,SETB02,Other motor fuels,3,T,226\r\n302,SETC,Motor vehicle parts and equipment,2,T,227\r\n303,SETC01,Tires,3,T,228\r\n304,SETC02,Vehicle accessories other than tires,3,T,229\r\n305,SETD,Motor vehicle maintenance and repair,2,T,232\r\n306,SETD01,Motor vehicle body work,3,T,233\r\n307,SETD02,Motor vehicle maintenance and servicing,3,T,234\r\n308,SETD03,Motor vehicle repair,3,T,235\r\n309,SETE,Motor vehicle insurance,2,T,236\r\n310,SETF,Motor vehicle fees,2,T,237\r\n311,SETF01,State motor vehicle registration and license fees,3,T,238\r\n312,SETF03,Parking and other fees,3,T,239\r\n313,SETG,Public transportation,1,T,242\r\n314,SETG01,Airline fares,2,T,243\r\n315,SETG02,Other intercity transportation,2,T,244\r\n316,SETG03,Intracity transportation,2,T,248\r\n317,SS01031,Rice,6,T,11\r\n318,SS02011,White bread,6,T,14\r\n319,SS02021,Bread other than white,6,T,15\r\n320,SS02041,Fresh cakes and cupcakes,6,T,18\r\n321,SS02042,Cookies,6,T,19\r\n322,SS02063,"Fresh sweetrolls, coffeecakes, doughnuts",6,T,21\r\n323,SS0206A,"Crackers, bread, and cracker products",6,T,22\r\n324,SS0206B,"Frozen and refrigerated bakery products, pies, tarts, turnovers",6,T,23\r\n325,SS04011,Bacon and related products,8,T,34\r\n326,SS04012,Breakfast sausage and related products,8,T,35\r\n327,SS04031,"Ham, excluding canned",8,T,37\r\n328,SS05011,Frankfurters,7,T,41\r\n329,SS05014,Lamb and organ meats,7,T,43\r\n330,SS05015,Lamb and mutton,7,T,44\r\n331,SS0501A,Lunchmeats,7,T,42\r\n332,SS06011,Fresh whole chicken,7,T,47\r\n333,SS06021,Fresh and frozen chicken parts,7,T,48\r\n334,SS07011,Shelf stable fish and seafood,7,T,53\r\n335,SS07021,Frozen fish and seafood,7,T,54\r\n336,SS09011,Fresh whole milk,5,T,58\r\n337,SS09021,Fresh milk other than whole,5,T,59\r\n338,SS10011,Butter,6,T,101\r\n339,SS11031,"Oranges, including tangerines",7,T,69\r\n340,SS13031,Canned fruits,6,T,78\r\n341,SS14011,Frozen vegetables,6,T,81\r\n342,SS14021,Canned vegetables,6,T,79\r\n343,SS14022,"Dried beans, peas, and lentils",6,T,83\r\n344,SS16011,Margarine,6,T,102\r\n345,SS16014,Peanut butter,6,T,105\r\n346,SS17031,Roasted coffee,6,T,91\r\n347,SS17032,Instant coffee,6,T,92\r\n348,SS18041,Salt and other seasonings and spices,6,T,111\r\n349,SS18042,"Olives, pickles, relishes",6,T,112\r\n350,SS18043,Sauces and gravies,6,T,113\r\n351,SS1804B,Other condiments,6,T,114\r\n352,SS18064,Prepared salads,6,T,117\r\n353,SS20021,Whiskey at home,5,T,129\r\n354,SS20022,"Distilled spirits, excluding whiskey, at home",5,T,130\r\n355,SS20051,"Beer, ale, and other malt beverages away from home",4,T,133\r\n356,SS20052,Wine away from home,4,T,134\r\n357,SS20053,Distilled spirits away from home,4,T,135\r\n358,SS27051,Land-line interstate toll calls,5,T,328\r\n359,SS27061,Land-line intrastate toll calls,5,T,329\r\n360,SS30021,Laundry equipment,4,T,168\r\n361,SS31022,Video discs and other media,3,T,275\r\n362,SS31023,"Video game hardware, software and accessories",3,T,299\r\n363,SS33032,"Stationery, stationery supplies, gift wrap",3,T,355\r\n364,SS45011,New cars,4,T,215\r\n365,SS4501A,New cars and trucks,4,T,214\r\n366,SS45021,New trucks,4,T,216\r\n367,SS45031,New motorcycles,4,T,217\r\n368,SS47014,"Gasoline, unleaded regular",4,T,223\r\n369,SS47015,"Gasoline, unleaded midgrade",4,T,224\r\n370,SS47016,"Gasoline, unleaded premium",4,T,225\r\n371,SS47021,"Motor oil, coolant, and fluids",4,T,231\r\n372,SS48021,Vehicle parts and equipment other than tires,4,T,230\r\n373,SS52051,Parking fees and tolls,4,T,240\r\n374,SS53021,Intercity bus fare,3,T,245\r\n375,SS53022,Intercity train fare,3,T,246\r\n376,SS53023,Ship fare,3,T,247\r\n377,SS53031,Intracity mass transit,3,T,249\r\n378,SS5702,Inpatient hospital services,4,T,264\r\n379,SS5703,Outpatient hospital services,4,T,265\r\n380,SS61011,"Toys, games, hobbies and playground equipment",3,T,298\r\n381,SS61021,Film and photographic supplies,3,T,291\r\n382,SS61023,Photographic equipment,3,T,292\r\n383,SS61031,Pet food,3,T,281\r\n384,SS61032,"Purchase of pets, pet supplies, accessories",3,T,282\r\n385,SS62011,Automobile service clubs,4,T,241\r\n386,SS62031,"Admission to movies, theaters, and concerts",3,T,305\r\n387,SS62032,Admission to sporting events,3,T,306\r\n388,SS62051,Photographer fees,3,T,294\r\n389,SS62052,Photo Processing,3,T,295\r\n390,SS62053,Pet services,3,T,284\r\n391,SS62054,Veterinarian services,3,T,285\r\n392,SS62055,Subscription and rental of video and video games,3,T,276\r\n393,SS68021,Checking account and other bank services,4,T,352\r\n394,SS68023,Tax return preparation and other accounting fees,4,T,353\r\n395,SSEA011,College textbooks,3,T,314\r\n396,SSEE041,Smartphones,4,T,335\r\n397,SSFV031A,Food at elementary and secondary schools,3,T,122\r\n398,SSGE013,Infants\' equipment,3,T,356\r\n399,SSHJ031,Infants\' furniture,3,T,165\r\n'