In [1]:
from io import StringIO
import numpy as np
import pandas as pd

In [2]:
jsonData = [
    {
        "state": "Florida",
        "shortname": "FL",
        "info": {
            "governor": "Rick Scott"
        },
        "counties": [
            {
                "name": "Dade",
                "population": 12345
            },
            {
                "name": "Broward",
                "population": 40000
            },
            {
                "name": "Palm Beach",
                "population": 60000
            }
        ]
    },
    {
        "state": "Ohio",
        "shortname": "OH",
        "info": {
            "governor": "John Kasich"
        },
        "counties": [
            {
                "name": "Summit",
                "population": 1234
            },
            {
                "name": "Cuyahoga",
                "population": 1337
            }
        ]
    }
]

In [6]:
df = pd.json_normalize(jsonData)

In [7]:
df

,state,shortname,counties,info.governor
0,Florida,FL,"[{'name': 'Dade', 'population': 12345}, {'name...",Rick Scott
1,Ohio,OH,"[{'name': 'Summit', 'population': 1234}, {'nam...",John Kasich

In [10]:
df

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

In [16]:
jsonData = [{'state': 'Florida',
  'shortname': 'FL',
  'info': {'governor': 'Rick Scott'},
  'counties': [{'name': 'Dade', 'population': 12345},
   {'name': 'Broward', 'population': 40000},
   {'name': 'Palm Beach', 'population': 60000}]},
 {'state': 'Ohio',
  'shortname': 'OH',
  'info': {'governor': 'John Kasich'},
  'counties': [{'name': 'Summit', 'population': 1234},
   {'name': 'Cuyahoga', 'population': 1337}]}]

In [17]:
jsonData

[{'state': 'Florida',
  'shortname': 'FL',
  'info': {'governor': 'Rick Scott'},
  'counties': [{'name': 'Dade', 'population': 12345},
   {'name': 'Broward', 'population': 40000},
   {'name': 'Palm Beach', 'population': 60000}]},
 {'state': 'Ohio',
  'shortname': 'OH',
  'info': {'governor': 'John Kasich'},
  'counties': [{'name': 'Summit', 'population': 1234},
   {'name': 'Cuyahoga', 'population': 1337}]}]

In [34]:
df = pd.json_normalize(jsonData)

In [35]:
df

,state,shortname,counties,info.governor
0,Florida,FL,"[{'name': 'Dade', 'population': 12345}, {'name...",Rick Scott
1,Ohio,OH,"[{'name': 'Summit', 'population': 1234}, {'nam...",John Kasich

In [61]:
df = pd.json_normalize(jsonData,"counties",["state",'shortname',["info","governor"]])

In [62]:
df

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich