In [8]:
import numpy as np
import pandas as pd
from io import StringIO

In [9]:
html = pd.read_html("https://en.wikipedia.org/wiki/2024_Summer_Olympics")

In [10]:
df = html[2]

In [12]:
df

          City         Nation                  Votes
0        Paris         France  Selected as 2024 host
1  Los Angeles  United States  Selected as 2028 host
2      Hamburg        Germany               Withdrew
3         Rome          Italy               Withdrew
4     Budapest        Hungary               Withdrew

In [15]:
df.to_html("df.html")